.footer {
    width: 100vw;
    height: auto;
    padding: 1rem;
    background-color: var(--bg-blue);
    color: var(--white);
}

.footer h3 {
    font-size: 1rem;
    letter-spacing: 2px;
    margin: 0;
    text-transform: none;
    font-family: "Lato",sans-serif;
    font-weight: normal;
}

.footer h3 a{
    color: var(--bg-yellow);
}