.max-width {
  max-width: 1170px;
  margin: auto;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.absolute-center {
  align-items: center;
  justify-content: center;
}

.jc-space-beetwen {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}
.text-center{
  text-align: center;
}

.grid{
  display: grid;
}

.cursor-pointer{
  cursor: pointer;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media all and (max-width: 1279px) {
  .max-width {
    max-width: 80%;
  }
}

@media all and (max-width: 767px) {
  .max-width {
    max-width: 90%;
  }

  .non-mobile {
    display: none !important;
  }
}

@media all and (min-width: 766px) {
  .only-mobile {
    display: none !important;
  }
}
