:root {
  --white: #f8f8f8;
  --black:#000000;
  --color-black:#101010;
  --bg-facebook: #4d669c;
  --bg-twitter: #1da1f2;
  --bg-google: #d34836;
  --color-link-blue:#337ab7;
  --bg-yellow: #ffce14;
  --color-yellow: #c79f07;
  --bg-blue:#0f2453;
}
