:root {
  --white: #f8f8f8;
  --black:#000000;
  --color-link-blue:#337ab7;
  --color-black:#101010;
  --color-yellow: #c79f07;
  --color-text:#212121;
  --color-light-gray:#777;

  --bg-facebook: #4d669c;
  --bg-twitter: #1da1f2;
  --bg-google: #d34836;  
  --bg-yellow: #ffce14;  
  --bg-blue:#0f2453;
  --bg-card:#344A7117;
  --bg-card-hover:#0f2453;
  --bg-about:#eceef2;
  
  --border-card:#cfdbf3;
}
