.gallery-wrapper {
  background: var(--bg-about);
  width: 100vw;
  height: auto;
}

.gallery-grid {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-grid-item{
  position: relative;
  cursor: pointer;
}

.gallery-image {
  width: 100%;
  height: 100%;
}

.gallery-pic-pecker {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(15, 36, 83, 0.62);
  transform: scale(0);
  transition: all 0.7s ease;
}

.gallery-grid-item:hover .gallery-pic-pecker{
  transform: scale(1);
}

.gallery-pic-pecker-title{
  color: var(--white);
  font-size:2rem;
  letter-spacing: 5px;
  line-height: 1.1;
  font-family: 'Federo', sans-serif;
  font-weight: 700;
  margin-top: 7.5rem;
  display: block;
}

.gallery-pic-pecker-icon{
  font-size: 2rem;
  color: var(--white);
  cursor: pointer;
}

.uil-scenery:before {
  content: '\ea40';
}
