.status-wrapper{
    width: 100%;
    height: max-content;
    background-color: var(--white);
    padding: 2rem 1rem 2rem;
}

.status-new-roomBooking-container{
    background-color: #428bca;
    padding: 1rem 15px 12px;
    border-radius: 5px;
}
.borderRadiusChange{
    border-radius: 5px 5px 0px 0px !important;
}

.new-room-booking-btn {
    background-color: var(--white);
    color: var(--black);
}

.new-room-booking-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.new-room-booking-btn small{
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--white);
    padding: 0.3rem;
    margin-left: 0.5rem;
    border-radius: 50%;
    text-align: center;
}

.booked-room-container {
    background-color: #bce8f1;
    padding: 1rem 15px 12px;
    border-radius: 5px;
}

.booked-room-btn small{
    background-color: var(--white);
    color: var(--black);
    padding: 0.3rem;
    margin-left: 0.5rem;
    border-radius: 50%;
    text-align: center;
}

.follower-container {
    background-color: #ebccd1;
    padding: 1rem 15px 12px;
    border-radius: 5px;
}

.follower-btn small{
    background-color: var(--white);
    color: var(--black);
    padding: 0.3rem;
    margin-left: 0.5rem;
    border-radius: 50%;
    text-align: center;
}