.contactUs-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url(../../asserts/images/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  padding: 5rem 0;
}

.contact-us {
  width: 100%;
  height: 100%;
  color: var(--white);
}

.contactUs-left,
.contactUs-right {
  flex: 1;
  border: 1px solid var(--color-light-gray);
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: max-content;
  text-align: center;
}

.contact-us h3 {
  font-size: 2rem;
  text-transform: capitalize;
  line-height: 1.1rem;
  letter-spacing: 1.5px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 20px;
}

.contact-us p {
  letter-spacing: 1px;
  margin: 0;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.form-group {
  margin: 0;
  text-align: start;
  gap: 0.7rem;
  margin-bottom:1rem;
}

.form-group label {
  font-size: 1.1rem;
  line-height: 1.1rem;
  letter-spacing: 2px;
  font-family: "Federo", sans-serif;
}

.form-group input {
  width: 100%;
  padding: 6px 12px;
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  transition: box-shadow 0.5s;
}

.form-group input:focus {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.51);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.51);
}

::placeholder {
  color: var(--white);
  opacity: 0.7;
}

.form-btn {
  text-align: start;
}

.btn {
  font-size: 1rem;
  border-radius: 5px;
  padding: 6px 12px;
  background-color: var(--color-link-blue);
  border: none;
  width: max-content;
  height: 2rem;
  cursor: pointer;
  color: var(--white);
  text-transform: capitalize;
}

.btn:hover {
  background-color: var(--bg-btn);
}

.contactUs-right h2 {
  color: var(--white);
  text-align: start;
  font-size: 1rem;
  padding-bottom: 20px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
}

.contactUs-right h2 span {
  color: var(--bg-yellow);
  letter-spacing: 1px;
  font-family: "Federo",sans-serif;
  font-weight: bold;
}

iframe {
  width: 100%;
  height: 14rem;
  padding-top: 20px;
}


.errors{
  color: red;
  margin-bottom: 0px !important;
  padding: 0 !important;
  text-align: left;
  font-size: 0.7rem;
  font-family: "Lato",sans-serif;
  font-weight: 400;
}

.invalid {
  border: 1px solid red !important;
}