.exp-wrapper{
    width: 100%;
    height: 100%;
}

.exp-title{
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    padding: 61px 0px;
    background-color: var(--bg-yellow);
    color: var(--white);
}

.exp-link{
    color: var(--white);
    letter-spacing: 3.5px;
    transition: all 0.2s ease-in-out;
}
.exp-link:hover{
    color: var(--black);
}

/*===========bottom===============*/

.exp-content{
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.exp-text{
    font-size: 1em;
    color: var(--bg-yellow);
    line-height: 2.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}
.exp-text span{
    display: block;
    font-size: 25px!important;
    color: var(--black);
    font-weight: 500;
}

.exp-bottom {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}