@import "./asserts/styles/fonts.css";
@import "./asserts/styles/variables.css";
@import "./asserts/styles/commonClasses.css";
@import "./asserts/styles/animation.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-family: Lato, sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-white);
  background: var(--color-bg);
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}