.pre-navbar-logo {
  font-size: 1rem;
  color: var(--white);
  height: 30px;
  width: 30px;
}

.facebook {
  background-color: var(--bg-facebook);
}

.twitter {
  background-color: var(--bg-twitter);
}

.google {
  background-color: var(--bg-google);
}

.wifi {
  margin-left: 1rem;
  background-color: var(--bg-wifi);
}
